<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="MakeMyTrip">   
    <classes>
      <class name="com.makeMyTrip.qa.testCases.HomePageTestCase"/>
      <class name="com.makeMyTrip.qa.testCases.FlightResultsPageTestCase"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->